%form{:method => 'post'}

#chart{ :style => "width: 700px; height:500px; margin:0 auto;" }

:javascript

    var chart = new Highcharts.Chart({
        chart: {
            renderTo: 'chart',
            type: 'column'
        },
        title: {
            text: 'Spending'
        },
        xAxis: {
            categories: #{@year_months}
        },
        yAxis: {
            min: 0,
            labels: {
                enabled: false
            },
            title: {
                text: 'amount $'
            }
        },
        plotOptions: {
            series: {
                stacking: 'normal'
            }
        },
        series: #{@costs_series},
    });
