%form#dateform{:method => 'post', :action => '/', :method => 'post'}
    %input#date{:type => 'date', :name => 'date'}

#chart{ :style => "width: 700px; height:500px; margin:0 auto;" }

:javascript
    (function bindEnter() {
        var form = document.getElementById('dateform');
        var input = document.getElementById('date');
        input.onkeyup  = function(e) {
            var key = e.keyCode ? e.keyCode : e.which;
            if (key == 13) {
                form.submit();
            }
        };
    })();

    var chart = new Highcharts.Chart({
        chart: {
            renderTo: 'chart',
            type: 'column'
        },
        title: {
            text: 'Spending'
        },
        xAxis: {
            categories: #{@year_months}
        },
        yAxis: {
            min: 0,
            labels: {
                enabled: false
            },
            title: {
                text: 'amount $'
            }
        },
        plotOptions: {
            series: {
                stacking: 'normal'
            }
        },
        series: #{@costs_series},
    });
