%form{:method => 'post'}
    %select{:action => '/', :name => "date"}
        -@year_months.each do |y_m|
            =value, text = y_m
            %option{:value => value} #{y_m}

    %input{ :type => "submit", :name => "submit", :value => "submit" }

