%html
    %head
        =js(path='scripts/jquery-1.11.2.min')
        =js(path='scripts/highcharts.src')
        %link{:rel => :stylesheet, :type => :"text/css", :href => "/stylesheets/main.css"}
    %body
        =yield
