%form#new_receipt{:method=> 'post', :action => '/methods/new', :name => 'method'}
    .input
        %label{ :for => 'method' } Method
        %input{ :type => 'text', :name => 'method' }
    .submit
        %input{ :type => "submit", :name => "submit", :value => "submit" }


