%div#filters

%table#items
    %thead.columns
        %tr
            //%th.delete
            -@columns.each do |key, value|
                -if value[:display]=='show'
                    %th{ :class => key} #{key.capitalize}
    %tbody.new
    %tbody.data

%a#load-more-button Load More

%script#row-template{"type" => "text/template"}
    // %td.delete
    -@columns.each do |key, value|
        -if value[:display]=='show'
            %td{ :class => key}
                %span.filter

%script#filter-template{"type" => "text/template"}
    %div.filter
        %div.name
            %span.delete X
            %span.name
        %div.value


