/* Layout */

#content {
    padding-left: 300px;
    display: inline-block;
}
#sidebar {
    position: absolute;
    background-color: darkorange;
    width: 300px;
    display: inline-block;
    height: 100%;
}

#sidebar .menu {
    padding-top: 200px;
}

#sidebar a {
    display: block;
    font-size: 22px;
    text-decoration: none;
    padding-top: 10px;
    color: white;
    font-family: arial;
    padding-left: 15px;
}

#sidebar a:hover {
    color: lightblue;
}

/* Forms */

form#new_receipt {
    width: 260px;
    margin: 0 auto;
}

form#new_receipt input, form#new_receipt select {
    float: right;
}

form#new_receipt .input {
    display: block;
    padding: 10px;
}


