* { font-family: Raleway; }

/* Layout */
#content { margin-top: 20px; position: relative; padding-left: 240px; display: inline-block; }
#sidebar { position: fixed; background-color: darkorange; width: 231px; display: inline-block; height: 100%; margin-top: 20px; top: 0px; z-index: 1;}
#sidebar .menu { z-index: 28; position: relative; padding-top: 200px; }
#sidebar .menu a { display: block; font-size: 22px; text-decoration: none; padding-top: 10px; color: white; padding-left: 15px; }
#sidebar a:hover { color: lightblue; }

form#dateform { display: inline-block; width: 50%;}
#choices { display: inline-block; width: 48%; }
a.choice { float:right; font-family: Raleway; }
a.choice:hover { background-color: lightblue; }
.choice { padding: 5px; border: 1px solid lightgrey; }
.choice.left { border-right: none; border-top-left-radius: 10px; border-bottom-left-radius: 10px; }
.choice.right { border-top-right-radius: 10px; border-bottom-right-radius: 10px; }

div.filter div { padding: 5px; border: 1px solid lightgrey; background-color:lightgreen; }
div.filter div.name span.delete { padding-left: 5px; font-size: 17px; padding-right: 5px;}
div.filter div.name { display: inline-block; width: 100px; border-right: none; border-top-left-radius: 10px; border-bottom-left-radius: 10px; }
div.filter div.value { display: inline-block; width: 140px; border-top-right-radius: 10px; border-bottom-right-radius: 10px; }

/* Forms */
#form-container {position: fixed;top: 0px;  width: 260px; margin: 0 auto; right: 0; margin-top: 20px; margin-right: 20px; }
form#new { overflow: hidden; background-color: lightblue; }
form#new input, form#new select { float: right; }
form#new div.submit input {z-index: 220;}
form#new .input { display: block; padding: 10px; }
#form-container .collapse {height: 20px; color: white; font-weight: bold; width: 100%; background-color: grey; text-align:center; border-bottom-left-radius:10px; border-bottom-right-radius: 10px; position:relative ; top: -15px;}


form#update {z-index: 30; width: 260px; margin: 0 auto; position: absolute; background-color:lightgreen;}
form#update input, #row-editor select {float: right;}
form#update .input {padding: 10px; display:block; }
form#update .input[type=submit] {margin-bottom:10px; margin-right:10px; }


/* Table */
#content table { width: 809px; margin-top: 25px; display: inline-block;}
#content table thead tr th { font-weight: bold; padding-bottom: 10px; text-align: left; }
#content table tbody.new {background-color: lightyellow; }
tr { padding-right: 10px}
#content table td.hide {display: none;}
#content table th.hide {display: none;}
#content table td.amount {text-align: right;}
#content table td.amount span.filter {display: none;}
#content table td span.filter.show-filter {position: absolute; width: 16px; height: 16px; background: url('/filter.png') no-repeat;margin-right: 0px;}
td.description, td.funding, td.expense, td.envelope, td.roommate, td.notes, td.tag, td.id {display: none;}
td.date, th.date { width: 15%}
td.method { width: 16%;}
td.tools {position: relative; }
td.tools div.edit {  height: 100%;  margin-left: -25px;
  width: 40px;
  z-index: 188;
  position: absolute;
  top: 0px;}
td.tools div.edit.show-edit {background-repeat: no-repeat;background-image: url('/edit_pencil.png');background-position: 0px -6px; /* background-color: lightblue; */ background-size: 30px 30px;}
#content table tbody tr:hover {background-color: lightblue;}
#content table tbody td.delete {width:16px; height: 16px; background: url('/delete_16x16.gif') no-repeat;}
#content table {margin-bottom: 20px;}
#load-more-button {display: block; text-align: center; margin-top: 25px; background-color: lightgreen; width: 150px; padding: 10px; border-radius: 10px; margin: 0 auto;}
